.container-full-width {
  display: flex;
  background-color: #ffe601;
  justify-content: space-between;
}

.logo-primary {
  display: inherit;
  align-items: center;
}

.logo-image-primary {
  height: 13vw;
  width: auto;
  min-height: 64px;
}

.logo-secondary {
  display: inherit;
  align-items: center;
}

.logo-image-secondary {
  height: 8vw;
}
